*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}

body{
    background:#131416;
}

section{
    display: flex; 
    justify-content: space-between;
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    margin-top: 150px;
}

div{
    margin-left: 64px;
    margin-top: 16px;
    
}


a{
    color: white;
    font-size: 200px;
    font-family: arial,sans-serif;
    background: black;
    height: 120px;
    width:650px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #892cdc;
    border-radius:5% 5% 5% 5%;
    overflow: hidden; 
    font-size: 1.3em;
    font-weight: 700;
    z-index: 0;
    position: relative;  
}

a::before {
    content: '';
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #892cdc;
    border-radius: 50% 50% 0 0;
    transition: all .5s;
    z-index: -1; 
}

a:hover::before{
    top: 0;
    border-radius: 0%;
}

.menu{
    background-color: black;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.bouton{
    color: white;
    font-size: 200px;
    font-family: arial,sans-serif;
    background: black;
    height: 60px;
    width: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid black; 
    border-radius:5% 5% 5% 5%;
    overflow: hidden; 
    font-size: 1.3em;
    font-weight: 700;
    z-index: 0;
    position: relative;
    padding: 0;
    
    position: absolute; 
    top: 35px; left: 100%; 
    transform: translate( -100%); 
    
}

.bouton::before {
    content: '';
    position: absolute;
    top:60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a60eb4;
    border-radius: 50% 50% 0 0;
    transition: all .5s;
    z-index: -1; 
}

.bouton:hover::before{
    top: 0;
    border-radius: 0%;
}

h1{
    color: #892cdc;
    font-family: arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-style:italic; 
}

img{
    background-color: black;
    width: 370px;
    height:120px;
}